body {
    background-color: lightblue;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.menu_login {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 10%;
    text-align: center;
    font-size: 18px;
}
.menu_create {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 10%;
    text-align: center;
    font-size: 18px;
}